@css {

	@font-face {
		font-family: 'HelveticaNeueCyr-Light';
		src: url('../fonts/h/hinted-subset-HelveticaNeueCyr-Light.woff2') format('woff2'),
			url('../fonts/h/hinted-subset-HelveticaNeueCyr-Light.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'HelveticaNeueCyr-Bold';
		src: url('../fonts/h/hinted-subset-HelveticaNeueCyr-Bold.woff2') format('woff2'),
			url('../fonts/h/hinted-subset-HelveticaNeueCyr-Bold.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}


	@font-face {
		font-family: 'HelveticaNeueCyr-Roman';
		src: url('../fonts/h/hinted-subset-HelveticaNeueCyr-Roman.woff2') format('woff2'),
			url('../fonts/h/hinted-subset-HelveticaNeueCyr-Roman.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}


}

$hL = 'HelveticaNeueCyr-Light', Arial, sans-serif
$hR = 'HelveticaNeueCyr-Roman', Arial, sans-serif
$hB = 'HelveticaNeueCyr-Bold', Arial, sans-serif
