extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/section/section
include /blocks/service/service
include /blocks/form/form
include /blocks/how/how


include /blocks/footer/footer


block head
	- var pageTitle = 'Smart fetch';

block content
	+section()._main
		.container
			.row
				.col-lg-12
					+header()
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					+service()
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					+form()
	+section()._how
		+how()
	+footer()

