mixin service()
	.service
		h1.service__title Услуги по сбору данных с любых сайтов
		.service__text
			p Собираем данные с разнотипных сайтов.
			p Гибкое управление полученными данными.
			p Наполнение прямо в БД сайта или CRM.
			p Импорт под различные CMS.

		.service__note
			p Парсинг – это синтаксический анализ сайтов, который автоматически производится парсером – специальной программой или скриптом. Собранная информация предоставляется в определенном виде и проводится на одном из языков программирования.

		+icon('arrow-big', true).service__icon


